.image-box {
    margin-bottom: 0;
    padding: 0;
}
.image-box img {
    width: 70%;
    margin-left: 30%;
    position: relative;
}
.img-info {
    background-image: initial;
    background-color: rgba(94, 200, 179, 0.58);
    color: rgb(255, 255, 255);
    border-color: rgba(164, 152, 133, 0.29);
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%,-50%);
    background: rgba(94, 200, 179, 0.58);
    color: white;
    padding: 50px;
    box-sizing: border-box;
    border: 3px solid #0000004a;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    max-width: 40%;
    height: 100%;
    max-height: 50%;
}
h3 {
    font-size: 30px;
    margin: 150px 0 30px;
}
p {
    line-height: 2px;
}